body {
    font-family: "RobotoRegular", Helvetica, Arial,sans-serif; 
    font-size: 14px;
    margin: 0;
  }
  my-app {
    width: 100%;
    min-height: 80px;
  }
  my-app > .k-icon.k-i-loading {
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Basic Layout */
  .navbar {
    background-color: #fff;
  }
  .main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .kendo-image img {
    width: 100%;  
  }
  .kendo-details h2 {
    margin-top: 0.25em;
  }
  .user {
    margin-bottom: 1ch;
  }

  h1 {
    margin: 0;
  }
  /* Achieve Topbar Navigation */
  .site-container {
    display: flex;
    flex-direction: column;
  }
  
  /*@media screen and (min-width: 415px){
    .site-container {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex:1;
      flex-direction: row;
    }
    .navbar {
      padding-top: 0.75em;
      max-width: 120px;
      min-height: 100vh;
    }
    .kendo-details {
      padding: 0 1em 0 0;
    }
  }*/

  @media screen and (min-width: 600px){
    .main {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
    }

    .kendo-details {
      padding: 0 1em 0 1.5em ;
    }
    .kendo-image img {
      min-width: 150px;
      max-width: 600px;
    }
 }